channels
channels_redis
daphne

Django
django-debug-toolbar
django-extensions
djangorestframework

django-grappelli

django-heroku
whitenoise

gunicorn

ipdb
ipython

psycopg2-binary
pyreadline
python-dotenv
pyyaml
